.fondo{
-fx-border-color:#3493ff;
-fx-border-width:3;
-fx-background-color:#0c325e;
}


.errorusuario{
-fx-border-color:red;
-fx-border-width:2;
-fx-background-color:ffbe1e;
-fx-text-fill:red;
}

.login{
-fx-background-color:#0067d5;
-fx-background-radius:15;
-fx-border-radius:15;
-fx-border-width:2;
-fx-border-color:white;
}
.login:hover{
-fx-background-color:#fff815;
}

.register{
-fx-background-color:#0067d5;
-fx-background-radius:15;
-fx-border-radius:15;
-fx-border-width:2;
-fx-border-color:white;
}
.register:hover{
-fx-background-color:#fff815;
}

//REGISTRO//

.errorregistro{
-fx-border-color:red;
-fx-border-width:2;
-fx-background-color:ffbe1e;
-fx-text-fill:red;
}

.borde1{
-fx-background-radius:15;
-fx-border-radius:15;
-fx-border-width:3;
-fx-border-color:#004c9c;

}

.borde2{
-fx-background-radius:15;
-fx-border-radius:15;
-fx-border-width:3;
-fx-border-color:#2777cd;

}

.borde3{
-fx-background-radius:15;
-fx-border-radius:15;
-fx-border-width:3;
-fx-border-color:#5ce6ff;

}

.fondoregistro{
-fx-border-color:#3493ff;
-fx-border-width:3;
-fx-background-color:#002a40;
}

TextField{
-fx-border-color:white;
-fx-border-width:2;
-fx-background-color:#4387aa;
-fx-text-fill:white;

}

PasswordField{
-fx-border-color:white;
-fx-border-width:2;
-fx-background-color:#4387aa;
-fx-text-fill:white;

}

DatePicker{
-fx-border-color:white;
-fx-border-width:2;
-fx-background-color:#4387aa;
-fx-text-fill:white;

}

ToggleButton{
-fx-background-color:transparent;
-fx-border-width:1;
-fx-border-radius:10;

}

ToggleButton:hover{
-fx-border-color:#4387aa;
-fx-border-width:1;
-fx-border-radius:10;

}
ToggleButton:visited{
-fx-border-color:#4387aa;
-fx-border-width:1;
-fx-border-radius:10;

}


//PREMIUM//

.fondoregistro{
-fx-background-color:black;

}

.bordeplanes{
-fx-background-radius:15;
-fx-border-radius:15;
-fx-border-width:3;
-fx-border-color:#2777cd;

}

.bordeplanes:hover{
-fx-background-radius:15;
-fx-border-radius:15;
-fx-border-width:3;
-fx-border-color:#2777cd;
-fx-effect: dropshadow(gaussian,#2777cd , 10, 0.5, 0.0, 0.0);
}

